In [9]:
import pandas as pd
import numpy as np

In [48]:
dataset = '/Users/Rutherford/Desktop/data/current 10:27 but not cleaned/dataset.csv'
# get rid of NaNs
df = pd.read_csv(dataset,header=None,names=['error','one','two'],
                 dtype={'error':np.int32,'one':str,'two':str},na_filter=False)
# get rid of all underscores and dashes -- escape character unnecessary
df = df.replace(r'_+','',regex=True)
df = df.replace(r'-',' ',regex=True)
# get rid of rows with blank strings
df = df.iloc[np.where(df['two'] != '')[0]]
df = df.iloc[np.where(df['one'] != '')[0]]

In [49]:
#df[10002:12000]

In [61]:
df.head(10)

    error              one           two
0       2         zone and          zone
1       2         zigbee 2    zigbee too
3       2             zero     four zero
4       2  zappos is ideal  zappos' deal
5       2          zapples        zappos
7       2            yuper          uper
8       2          yup are        aren't
9       2                y        sheeky
10      2              you        you to
11      2              you      you that

In [69]:
# df['one] shorter than 4
sum([length<4 for length in map(len,df['one'])])

8503

In [62]:
df.to_csv('/Users/Rutherford/Desktop/cleaning_dataset.csv',header=None,index=None)

In [ ]:
# a -> one ?